/* MEJORAS CON FLEXBOX DE LA SECCION PLACES */
article {
  display: flex;
  flex-wrap: nowrap;
  /* height: 100px; */
  flex: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
}