footer {
    position: absolute;
    bottom: 0;
    background-color: #00ff00;
    height: 60px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding-top: 9px; */
    margin-top: 22px;
  }
  
  p {
    font-weight: bolder;
  }
  