section,
.places {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

/* titulo places */
.places h1 {
  font-size: 30px;
  position: relative;
  bottom: 195px;
  right: 200px;
  z-index: -2;
}

article {
  width: 390px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  line-height: 5px;
}

.places,
article h2 {
  font-size: 30px;
  /* alinear horizontalmente */
  text-align: center;
}
